/* Common styles for both h1 elements */
.texture {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 51.56px;
}

.texture-two {
  font-size: 36px;
}

/* Media query for screens with a maximum width of 640px */
@media (max-width: 540px) {
  .texture {
    font-size: 30px;
  }
  .texture-two {
    font-size: 30px;
  }
}
